name: CI
on: [push]
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.15.5
        uses: actions/setup-go@v2
        with:
          go-version: 1.15.5
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-${{ hashFiles('go.sum') }}
      - uses: golangci/golangci-lint-action@v2
        with:
          version: v1.32
      - name: Execute test
        run: make test